.container {
    position: relative;
    width: 100%;
    height: 100vh;
}
  
.floating-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1;
}