.Row {
    display: flex;
    width: 100%;
}

.Column {
    display: flex;
    justify-content: center;
    align-items: center;
    border-spacing: 50px;
    width: 500px;
}

.hidden-box {
    margin-top: 100px;
    width: 500px;
    display: none;
}